<div class="container">
    <div class="container-search">
      <div class="wrapper-form-search">
          <h3>Buscar datos referentes a un usuario</h3>
          <form [formGroup]="searchUserForm" (ngSubmit)="onSubmit()" class="form-search">
            <div class="form-group-search">
                <input type="text" formControlName="emailUser" class="input-text" [ngClass]="{ 'is-invalid': submitted && f.emailUser.errors }" placeholder="Email del usuario"/>
                <div *ngIf="submitted && f.emailUser.errors" class="error">
                  <div *ngIf="f.emailUser.errors.required">Email del usuario es requerido</div>
                </div>
              </div>
            <div class="form-group-search">
                <input type="text" formControlName="app" class="input-text" [ngClass]="{ 'is-invalid': submitted && f.app.errors }" placeholder="App"/>
                <div *ngIf="submitted && f.app.errors" class="error">
                  <div *ngIf="f.app.errors.required">App es requerido</div>
                </div>
              </div>
            <div class="form-group-search">
              <button [disabled]="loading" class="btn-blue">Buscar</button>
              <img width="30px" height="30px" *ngIf="loading" src="https://myaccount.wigan.gov.uk/web/Images/loader.gif"/>
            </div>
          </form>
          <div *ngIf="error" class="alert error">{{error}}</div>
      </div>
    </div>
      
      <div>
        <h3>Resultados</h3>

        <div class="container-filter">
          <div class="filter">
            <p>Filtrar por BookingId</p>
            <div class="form-filter">
              <ng-select 
                [items]="optionsFilter"
                [searchable]="false"
                placeholder="Filtro"
                class="select-filter">
              </ng-select>
              <input class="input-text" type="text" placeholder="Booking Id">
            </div>
          </div>
          <div class="filter">
              <p>Filtrar por BookingId</p>
              <div class="form-filter">
                  <ng-select 
                  [items]="optionsFilter"
                  [searchable]="false"
                  placeholder="Filtro"
                  class="select-filter">
                </ng-select>
                <input class="input-text" type="text" placeholder="Precio">
              </div>
          </div>
          <div class="button-filter">
            <button class="btn-blue">Filtrar</button>
          </div>
        </div>
        <!-- <app-grid-data [results]="rows"></app-grid-data> -->
        <ngx-datatable
          class="material"
          [rows]="rows"
          [reorderable]="reorderable"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [columnMode]="'force'"
          [messages]="messages"
          prop="BookingId">
          <ngx-datatable-column  name="BookingId">
            <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
              <span (click)="sort()">{{column.name}}</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.id}}
            </ng-template>
          </ngx-datatable-column>
    
          <ngx-datatable-column name="Cliente">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>{{column.name}}</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.client}}
            </ng-template>
          </ngx-datatable-column>
    
          <ngx-datatable-column name="Fecha de Creación">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>{{column.name}}</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.createDate}}
            </ng-template>
          </ngx-datatable-column>
    
          <ngx-datatable-column name="Dirección">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>{{column.name}}</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.address}}
            </ng-template>
          </ngx-datatable-column>
    
          <ngx-datatable-column name="Precio">
            <ng-template let-column="column" ngx-datatable-header-template>
              <span>{{column.name}}</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.price}}
            </ng-template>
          </ngx-datatable-column>
      </ngx-datatable>
    </div>
</div>
