@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

h3{
    color: #5b5b5f;
    font-size: 2.000em;
    font-weight: bold;
    margin-bottom: 2vh;
    border-bottom: 1px solid #E8E8E8;
    padding: 2vh 10px;
    width: auto;
    display: inline-block;
}
.container-search{
    margin: 5vh 0;
    .wrapper-form-search{
        background-color: #ffffff;
        .form-search{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 2vh 2vw;
            .form-group-search{
                width: 30%;
                .btn-blue{
                    width: 30%;
                    margin-right: 3%;
                }
            }
        }
    }
}

.container-filter{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2vh;
    .filter{
        width: 50%;
        margin-bottom: 2vh;
        padding: 2%;
        .form-filter{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .select-filter{
                width: 45%;
            }
            input{
                width: 45%;
            }
        }
    }
    .button-filter{
        width: 100%;
        text-align: center;
        .btn-blue{
            width: 20%;
        }
    }
}
.ng-select{
    &.ng-select-single{
        .ng-select-container{
            height: 45px;
            &:focus,
            &:active{
                border: 1px solid #e6b54a;
                outline: none;
            }
        }
    } 
    .ng-select-container{
        border-radius: 4px;
        border: 1px solid #9a999e;
    }
    &:focus,
    &:active{
        border: 1px solid #e6b54a;
        outline: none;
    }
    &.ng-select-focused{
        &:not(.ng-select-opened){
            &>.ng-select-container{
                border-color: #9a999e;
                box-shadow: none;
            }
        }
    }
    &.ng-select-opened{
        &>.ng-select-container{
            border-color: #e6b54a;
            margin-bottom: 1px;
        }
    }
    .ng-dropdown-panel{
        .ng-dropdown-panel-items{
            .ng-option{
                color: #5b5b5f;
                &.ng-option-selected{
                    background-color: rgba(230,181,74, 0.4);
                }
            }
            .ng-option.ng-option-marked{
                background-color: rgba(154,153,158, 0.4);
                color: #ffffff;
            }
        }
    }  
}