<div class="container-login">
  <div class="login-card">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-login">
          <input class="input-text" type="text" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email"/>
          <div *ngIf="submitted && f.email.errors">
            <div *ngIf="f.email.errors.required" class="error">Email es requerido</div>
          </div>
        </div>
        <div class="input-login">
          <input class="input-text" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password"/>
          <div *ngIf="submitted && f.password.errors">
            <div *ngIf="f.password.errors.required" class="error">Password es requerido</div>
          </div>
        </div>
        <div class="input-login">
            <input class="input-text" type="text" formControlName="app" [ngClass]="{ 'is-invalid': submitted && f.app.errors }" placeholder="App"/>
            <div *ngIf="submitted && f.app.errors">
              <div *ngIf="f.app.errors.required" class="error">App es requerido</div>
            </div>
          </div>
        <div class="button-login">
          <button [disabled]="loading" class="btn-blue">Login</button>
        </div>
        <div class="loader">
            <img width="30" height="30" *ngIf="loading" src="assets/images/loading.gif"/>
        </div>
        
        <div *ngIf="error" class="alert error">{{error}}</div>
      </form>
  </div>
</div>