/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    font-size: 16px;
    font-family: 'Nunito',sans-serif;
}
*{
    box-sizing: border-box;
}
h1, h2, h3, p{
    margin: 0;
    padding: 0;
}
button, a{
    outline: none;
}
.btn-blue{
    width: 100%;
    height: 42px;
    padding: 0;
    margin: 0;
    border: none;
    line-height: 40px;
    color: #212529;
    background-color: #b7e0fc;
    border-color: #abdafb;
    font-size: .938em;
    font-weight: 400;
    outline: 0;
    cursor: pointer;
    text-align: center;
    outline: none;
}
.error{
    color: #ff6a6a;
    font-weight: 400;
    font-size: 1em;
}
.input-text{
    color: #43425d;
    width: 100%;
    border: 1px solid #e9e9f0;
    padding: 10px 7px;
    font-size: .938em;
    font-weight: 400;
    outline: 0;
    &:focus{
        border: 2px solid #e9e9f0;
    }
}